// Specific CSS for your home-page
.home-container {
  text-align: center;
  margin: 45px;
}

.home-text strong {
  opacity: 0.8;
  animation: flash 2s infinite;
  font-family: 'Pacifico', sans-serif;
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-font-smoothing: antialiased;
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}