// Specific CSS for tickets/new page
.tickets-container {
  text-align: center;
  margin: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 54px;
  }

  strong {
    font-size: 44px;
  }
}

.type-field-tickets {
  border-color: #FFBD12;
  background-color: white;
  border-radius: 10px;
  width: 353px ;
  height: 109px !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &:hover {
    transform: scale(1.1);
  }
}

.text-spot {
  margin-top: 10px;
  border-radius: 8px;
  border-color: black;
}

.audio-spot{
  justify-content: space-between;
  padding-bottom: 20px;
}

.img-upload-spot {
  justify-content: space-between;
  margin-bottom: 35px;
}

.audio-spot h4 {
  margin: 10px;
}

.microphone{
  width: 140px;
  height: 131px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
 