<h1>Please fill out:</h1>
<div class="container">
  <%= simple_form_for @user do |f| %>
  <%= f.input :username, label: 'Full name'%>
  <%= f.input :email%>
  <%= f.button :submit %>
  <% end %>
</div>
