<div class = "container">
  <div class="card-product">
    <div class="card-product-infos">
      <h2>PC</h2>
      <p>This machine is insane!!! I turned on the movie and couldn’t see <strong>anything!</strong> </p>
    </div>
  </div>

  <div class="card-product">
    <div class="card-product-infos">
      <h2>Phone</h2>
      <p>No idea what happened here. I just wanted to talk to <strong>my children</strong>...damn you technology!</p>
    </div>
  </div>
</div>
