<h1>Test page</h1>


<br><br>
<a class="btn btn-big-green" href="#"> <i class="fas fa-check"></i></a>

<br> <br>
<a class="btn btn-yellow" href="#">Yellow button</a>
<a class="btn btn-yellow-small" href=“#”><i class="fas fa-paper-plane"></i></a>

<br> <br>
<%= image_tag "question.png" %>

<br> <br>
<%= image_tag "login_guy.png" %>

<br> <br>
<%= image_tag "home_girl.png" %>

<br> <br>
<a class="btn btn-yellow" href="#">Yellow button</a>
<br> <br>
<a class="btn btn-black" href="#">Black button</a>
