
<!-- <div><%= current_user.email %></div> -->

<div class="home-container">
  <div>
    <%= image_tag "home_girl.png" %>
  </div>

  <br><br>

  <div class="home-text">
    <h1 class="ml9">
    <span class="text-wrapper">
    <span class="letters">DEBUG.mom</span>
    </span>
    </h1>
    <p>Helps solving tech issues</p>
  </div>

  <div class="buttons-home">
    <a class="btn btn-yellow btn-yellow-home" href="#">I need help</a>
    <br> <br>
    <a class="btn btn-black btn-black-home" href="#">I can offer help</a>
  </div>


</div><!--#container-->


