 <div class="success-container test">
  <div>
    <%= image_tag "success.png" %>
  </div>

  <div>
     <h1><strong>Thank you!</strong><h1>
      <p> A helper will reach out to you soon!</p>
      <br>
      <a class="btn btn-big-green" href="/"> <i class="fas fa-check"></i></a>
  </div>

</div><!--#container-->
