<div class ="everything-container">
    <div>
    <%= image_tag "question.png" %>
    </div>

      <h2> Would you like to <span style = "display: block;">submit another issue?</span></h1>


    <div>
      <%= link_to "Yes please", new_ticket_path, class: "btn btn-yellow btn-yellow-home" %>
        <br><br>
      <%= link_to "No, thank you", success_path, class: "btn btn-black btn-black-home" %>
    </div>

</div>


