<div class ="everything-container">
  <div>
    <%= image_tag "question.png" %>
  </div>

  <h2>Do you want to report another issue?</h2>

  <div>
    <%= link_to "I am good", success_path, class: "btn btn-yellow" %>
    <br><br>
    <%= link_to "Submit new issue", new_ticket_path, class: "btn btn-black" %>
  </div>

</div><!--#container-->
