<div class ="everything-container">
    <div>
    <%= image_tag "question.png" %>
    </div>

      <h2>Submit another issue?</h2>


    <div>
      <%= link_to "Submit", success_path, class: "btn btn-yellow" %>
        <br><br>
       <%= link_to "New Issue", new_ticket_path, class: "btn btn-black" %>
    </div>

</div>
