<div class ="everything-container">
    <div>
    <%= image_tag "question.png" %>
    </div>

      <h2>Anything else we can help you with?</h2>


    <div>
      <%= link_to "I'm good", success_path, class: "btn btn-yellow" %>
        <br><br>
       <%= link_to "Submit New Issue", new_ticket_path, class: "btn btn-black" %>
    </div>

</div>
