<h1>Submit your issue</h1>
<div class="container">
  <%= simple_form_for @ticket do |f| %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
  <% end %>
</div>
