<h3>Description:</h3>
<%= @ticket.description  %>
<h3>Currently uploaded pictures:</h3>
<% @ticket.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
