// Default buttons
.btn-yellow {
  min-width: 240px;
  color: black;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  background: #FFBD12;
  transition: background 0.3s ease;
  border: 1px solid black;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-black {
  color: white;
  min-width: 240px;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  background: black;
  transition: background 0.3s ease;
  border: 1px solid black;

  &:hover {
    color: white;
    transform: scale(1.1);
  }
}

  .btn-yellow-small {
    color: black;
    padding: 8px 13px;
    border-radius:50px;
    font-size: 15px;
    background: #FFBD12;
    transition: background 0.3s ease;
    border: 1px solid black;
    
  &:hover {
    padding: 10px 15px;
  }
}


  // Page buttons
  //Home Buttons


.btn-yellow-home {
  padding: 8px 80px;

  &:hover {
    padding: 10px 85px;
  }
}

  .btn-black-home {
    padding: 8px 65px;

  &:hover {
    padding: 10px 70px;
  }
}
  .btn-big-green {
    padding: 30px 40px;
    border-radius:150px;
    font-size: 45px;
    background: #00C6AE;
    transition: background 0.3s ease;
    border: 4px solid black;

  .btn-big-green:hover {
    padding: 30px 40px;
    background: #07b5a0;
    color:#02312b;
  }
}

.btn-yellow-show {
  padding: 8px 71px;
  
  &:hover {
    padding: 10px 75px; 
  }
}

.btn-black-show {
  padding: 8px 43px;

  &:hover{
    padding: 10px 47px;
  }
}

.btn-black-dashboard {
  font-size: 20px;
  min-width: 130px;
  max-height: 40px;
  cursor: pointer;
}

.btn-yellow-accordion {
  min-width: 80px !important;
  position: absolute;
  right: 0;
}
