.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.ticket_photos{
  label {
    width: 148px;
    height: 133px;
    background-image: url("http://res.cloudinary.com/dxtj8yhxs/image/upload/v1598619281/xtg9jfseo1oysdyftsh6.png");
    background-repeat: no-repeat;
    font-size: 1.25em;
    font-weight: 700;
    color: transparent;
    background-color: transparent;
    display: inline-block;

    &:hover {
      cursor:pointer;
      transform: scale(1.05);
    }
  }
}
